:root {
	--green-color: #1abc9c;
	--blue-color: rgb(57, 35, 252);
	--light-gray: rgb(197, 197, 197);
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	background-color: var(--green-color);
	height: 100vh !important;
}

.wrapper {
	height: 100vh !important;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	padding: 20px;
}

.main {
	border-radius: 0px !important;
	background: #fff;
	width: 90%;
	position: relative;
	padding: 20px;
	border: 1px white solid;
	box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
}

.main h3,
.main p {
	text-align: center;
}

.filter-box {
	display: flex;
	justify-content: center;
	align-items: center;
}
.list-month .month-item {
	margin-left: 2px;
	width: 100px;
}

.item {
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	display: flex;
}

.date {
	width: 10%;
	/* height: 86px; */
	color: #0088b7;
	text-align: center;
	font-weight: 700;
}

.date .day {
	font-size: 60px;
	line-height: 86.4px;
}

.content {
	padding: 10px;
}

.title {
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	color: #0088b7;
}

.title.red {
	color: #d94d04;
}
